html{
    font-size: 70%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDEDED;
    color: #484848;
    font-family: 'Roboto', sans-serif;
    width: 1087px;
    height: 2000px;
}

h2{
    font-size: 2.7rem;
    text-transform: uppercase;
}

h3{
    font-size: 1.75rem;
    font-weight: 900;
    color:#000;
}

.subtitle{
    position: relative;
    margin: 1.5rem 0 3rem 0;
    color: #2F2F2F;
}

main{
    display: flex;
    width: 1536px;
}

.left-border{
    width: 4%;
    background-color: #6a696b;

}
.left-section{
    width: 30%;
    background-color: #D7D6DB;
    padding: 0 5rem;
}
.right-section{
width: 50%;
padding-left: 5rem;

}



/*******HEADER*****/
.header{
    position: relative;
    height: 20vh;
}

.header__title{
    margin-top: 5rem;
    margin-left: 0rem;
    position: absolute;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: #0A0A0C;
}

.header__title--surname{
    font-weight: 1000;
}

/*****PHOTO***/

.photo{
    height: 20vh;
    border: solid;
}



/*******CONTACT***/

.contact{
    position: relative;
    padding: 4rem 0;
}

.contact__title{
    margin-left: 0rem;
}

.contact__box{
    display: flex;
    margin: 2rem 0 2rem 0rem;
}

.contact__box img{
    width: 2.5rem;
    margin-right: 1.5rem;
}

.contact__box p {
    font-size: 1.5rem;
}

/*****SKUSENOSTI*****/
.skusenosti{
    padding: 4rem 0;
}
.skusenosti__box{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
}
.skusenosti__box--info{
    flex-direction: column;
    justify-content: space-between;
    width: 35rem;
}

.skusenosti__box .skusenosti__box--info--firma {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1.1rem 0;
    font-style: italic;
    color: #000;
}

.skusenosti__box p{
    font-size: 1.3rem;
    font-style: italic;
}
.skusenosti__box--cas{
    font-weight: 900;
    display: flex;
    width: 15rem;
    flex-direction: column;
    justify-content: center;
}

/*******VZDELANIE*******/
.vzdelanie__box{
    display: flex;
    margin-bottom: 2rem;
}

.vzdelanie__box--box{
    margin-bottom: 1.5rem;
}

.vzdelanie__box--cas{
    font-weight: 900;
    display: flex;
    width: 9rem;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    font-style: italic;
}

.vzdelanie__box--skola{
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.vzdelanie__box--mesto{
font-size: 1.3rem;
font-style: italic;
}

.vzdelanie__kurzy--title{
    margin: 2.5rem 0;
}

.vzdelanie__kurz{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 5rem;
    margin-bottom: 1.5rem;
}

.vzdelanie__kurz--skola{
    font-size: 1.3rem;
    font-weight: bold;
}
.vzdelanie__kurz--institucia{
    font-size: 1.3rem;
}
.vzdelanie__kurz--mesto{
    font-size: 1.3rem;
    font-style: italic;
}

.vzdelanie__box--kurz-cas{
    font-weight: 900;
    display: flex;
    width: 10rem;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    font-style: italic;
    width: 7rem;
}

/**************Zrucnosti***********/
.zrucnosti {
    margin-top: 5.5rem;
}

.zrucnosti__box{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.zrucnosti__skillset {
    display:flex;
}
.zrucnosti__box div ul {
    margin: 0 0 0 4.5rem;
    font-size: 1.5rem;
}
.zrucnosti__box div ul li {
    margin: .5rem 0;
}


.vodicky-preukaz__box{
    padding-left: 5.5rem;
    padding-top: 3rem;
}

.vodicky-preukaz__box h4{
    font-size: 2rem;
    font-weight: 500;
}

/******JAZYK****/

.jazyky{
    margin-top: 5rem;
}

.jazyky h2{
    margin-bottom: 3.5rem;
}

.jazyky__box{
    display: flex;
    margin-bottom: 1.5rem;
}
.jazyky__box img{
    width: 2.5rem;
    border-radius: 10px;
    margin-right: 2rem;
    margin-top: -.4rem;
}

.jazyky__box p {
   font-size: 1.7rem;
   font-weight: 900;
}
